[2020-02-18 07:58] fwmeng88 opened #3 "Description/keywords of the package"
We need to add some descriptions for this package.

[2020-02-18 08:02] fwmeng88 opened #4 "Jupyter notebooks for all the tutorial examples"
- [x] Jupyter notebooks for all the tutorial examples
- [x] Avoid using private functions
- [x] Use https://mybinder.org/ to host the jupyter notebooks

[2020-05-26 21:02] #4 closed

[2020-06-20 02:43] fwmeng88 commented on #3
What we need is a short description for this repository, website and topics separate with spaces) for this package.

For the short description, we can put Paul's input, _**Procrustes problems arise when aligning molecules and other objects when evaluating optimal basis transformations, when determining optimal mappings between sets, and in many other contexts. This package includes options to tran

[2020-06-24 05:53] PaulWAyers commented on #3
For the short description I would use:
Procrustes problems occur when measuring the similarity between two objects, represented by matrices. Since the objects can differ (in order (permutation), scaling (magnification), translation (position), rotation (orientation), stretching (deformation), etc., it is relevant to consider transforms of one object to make it as close as possible to the other, le

[2020-06-24 17:34] fwmeng88 commented on #3
Thank you for the feedback, Paul.

It may be too long of the description. Or we can just put **This package supports general, orthogonal, rotation, permutation, projection, and symmetric Procrustes problems, including both the normal one-sided approach and (for orthogonal and permutation Procrustes) two-sided approaches, where both the rows and columns are transformed.**  And put the whole paragra

[2020-06-24 17:41] PaulWAyers commented on #3
This seems OK. Let's discuss tomorrow.

[2020-11-20 19:40] fwmeng88 opened #21 "Fix documentation, jupyter notebooks and dosctrings with respect of the changes of return object"
This is a reminder to myself that the documentation, jupyter notebooks, and docstrings should be fixed in corresponding to the changes of function returns.

[2021-01-20 23:29] #21 closed

[2021-01-26 18:30] wilhadams opened #23 "transform_mode for permutation_2sided is different than documented"
In [the docs](https://procrustes.readthedocs.io/en/latest/api/permutation.html#procrustes.permutation.permutation_2sided), the `transform_mode` argument for `permutation_2sided` should be one of `single_undirected`, `single_directed`, `double`. In [the code](https://github.com/theochem/procrustes/blob/master/procrustes/permutation.py#L412), it can only be `single` or `double`, and then the directe

[2021-01-27 19:33] FarnazH opened #24 "PyPI"
Make sure that similar to IOData, we can install Procrustes through:

[code]

[2021-01-28 18:12] FarnazH opened #25 "Finalize ProcrustesResult argument names & default values"
For example, instead of `e_opt`, I think `error` would be a more intuitive argument.
See: https://github.com/theochem/procrustes/blob/master/procrustes/utils.py#L562

[2021-01-28 18:33] FarnazH opened #26 "Tutorial Examples"
Turn the code blocks given in tutorials into Python scripts (and then reference them in the documentation), so it can be easily downloaded and executed. It is also important to check that they run properly as the code changes.

Example: http://theochem.github.io/horton/2.1.1/user_postproc_aim.html#python-interface-to-the-partitioning-code

[2021-02-10 02:37] FarnazH opened #30 "Change argument names"
I remember that at some point we talked about changing the argument names to `array_a` and `array_b` to `a` and `b`. I still think it is good to be consistent with `numpy` and `scipy` and use shorter argument names.
See: https://github.com/theochem/procrustes/blob/master/procrustes/orthogonal.py#L37
What do you think @PaulWAyers?

[2021-02-10 04:52] PaulWAyers commented on #30
I think we agreed this was a good thing to do. We should use "generic" one-letter names for input arguments. Probably the transformation matrix (matrices) should have generic one-character names that makes it clear if they are right-hand or left-hand transformations too (in cases where they are equal one argument could be set equal to None). Overall, having the arguments be as close as possible to

[2021-02-10 06:02] FarnazH opened #31 "Protein alignement notebook"
@fanwang I couldn't regenerate the protein alignment results you had presented (using https://github.com/theochem/procrustes/blob/master/docs/notebooks/Protein_Structure_Alignment.ipynb). Can you also please take a look at it?
The screenshot below shows the final RMSD I have got (which doesn't match yours) and the error when plotting the transformed coordinates.
![protein_alignment_error](https://

[2021-02-16 22:56] fwmeng88 opened #32 "An Eigenvalue-Based Method for the Unbalanced Orhtogonal Procrustes Problem"
In our implementations, when two input matrices have different shapes (unbalanced), zero-padding is used to make them balanced. An alternative method is proposed in a recent SIAM paper,

[LH Zhang, WH Yang, C Shen, J Ying, _SIAM J. Matrix Anal. Appl_., 41(3), 957–983.](https://epubs.siam.org/doi/abs/10.1137/19M1270872).

In this paper, they showed that the orthogonal Procrustes can be transformed

[2021-02-19 16:21] fwmeng88 commented on #25
This is a very nice point!

We also have an `error()` function in https://github.com/theochem/procrustes/blob/ab607f1209c38de2b23a9268378146afc616bf44/procrustes/utils.py#L236-L275.

To avoid ambiguity, can we name `e_opt` as `distance`? Or we can rename `error()` function as `compute_error()`.
@FarnazH  Thanks.

[2021-02-19 22:39] fwmeng88 commented on #23
Thanks for pointing it out. @wilhadams

I have updated the docsrings in PR #36.

[2021-02-20 23:10] fwmeng88 commented on #23
This issue is fixed in PR #36 and I am going to close this.

[2021-02-20 23:10] #23 closed

[2021-02-20 23:44] fwmeng88 commented on #31
I have fixed the problem of `new_C` not defined error with respect to the return object change, 004706a.
However, I cannot reproduce the rmsd value of 21.72 after structure alignment yet.

[2021-02-21 02:36] FarnazH opened #41 "kopt_heuristic"
Move the functions for kopt_heuristic to a new module called `kopt`. They are currently in `utils` module.

[2021-02-21 02:43] FarnazH opened #42 "Clarify weight argument"
The weigh argument is added to all flavors of Procrustes but it does not show up in the mathematical formulation of the problem, also the documentation is not clear at all on how it would be used.

[2021-02-21 03:54] fwmeng88 commented on #41
We will also need to add `kopt` heuristic for `softassign` and I will take care of it.

[2021-02-21 08:43] FarnazH opened #44 "Fix Binder"
I noticed that the binder doesn't work.

[2021-02-21 22:26] #41 closed

[2021-02-22 02:11] FarnazH commented on #31
I executed the notebook again using the latest code, and I could regenerate the results you have reported. Thanks.

[2021-02-22 02:11] #31 closed

[2021-02-22 14:56] fwmeng88 opened #47 "Protein alignment with IOData"
I tried doing protein alignment with `IOData` as you have built for the manuscript and the code snippet seems not working.

[code]

I guess the problem is that there is no attribute called **chainid** after checking the latest source code.
Do you know which part I get things wrong? Thank you.
@FarnazH

[2021-02-23 08:36] FarnazH commented on #47
@fwmeng88. I have made a PR for that, you can get the code from https://github.com/theochem/iodata/pull/218
I need to add an example, so it should be merged soon.

[2021-03-01 02:39] PaulWAyers commented on #32
The goal of this issue is to generalize the (one-sided; single) Procrustes problem to treat matrices that are not the same shape. Right now, the object is to find an orthogonal matrix, **Q**, such that || **A Q** - **B** || is minimized, where **A** and **B** are have the same shape (i.e., both are *m*x*n* matrices). However, this paper shows that this can work even as long as **A** and **B** have

[2021-03-01 02:42] PaulWAyers opened #49 "2-sided Orthogonal Procrustes for Rectangular Matrices"
In chapter 7.5.2 of *Procrustes Problems* by J. C. Gower and G. G. Dijksterhuis an algorithm for 2-sided orthogonal Procrustes is presented. This generalizes the current treatment, which requires that the matrices being matched be square.

[2021-03-01 03:12] PaulWAyers opened #50 "General 2-sided Procrustes Problem"
We currently support the solution of the general (unconstrained transformation) one-sided Procrustes problem but not the two-sided unconstrained Procrustes problem. A statement, and solution, of this problem can be found in section 3.2 of the Ph.D. thesis of Pythagoras Papadimitriou (Univ. Manchester). It would be good to support this case also.
[papad93.pdf](https://github.com/theochem/procrustes

[2021-03-02 01:49] #24 closed

[2021-03-02 02:00] #44 closed

[2021-03-04 04:22] fwmeng88 opened #54 "Update and polish the sphinx docs"
This is a reminder for myself that a few things need to be fixed.

- [x] Update the header
- [x] Update contact information using _**QC-Dev community**_
- [x] Update the footnote information in `conf.py`
- [ ] Update the equations and make it consistent with our manuscript.
- [x] Update installation guide
- [x] Update quick start example
- [x] Add API rst file for kopt module
- [ ] fix examples, f

[2021-03-04 17:47] FarnazH commented on #54
@fwmeng88 what do you want to change in the HEADER? There were updated in 06d2c283e58d83a34bb866e4c3638948be328c0d

Also, I am making changes to the docstrings (and equations), and to avoid conflicts, it's best not to change equations now. Then, we should make the paper's appendix consistent with the docstring.

I am also taking care of issue #25, as I messaged you.

[2021-03-04 19:07] fwmeng88 commented on #54
The HEADER in the [`docs`](https://github.com/theochem/procrustes/tree/master/docs) folder are not updated yet and I will fix it soon following 06d2c28. I will not touch the docstrings and other parts in the PY files for now until you tell me to.

This is just a reminder for me to double-check before the final release. I will only touch these files located in [`docs`](https://github.com/theochem/p

[2021-03-06 02:51] FarnazH commented on #54
@fwmeng88 can you please add Table 1 and Equation 1 (from the paper) to the documentation (1st page)? We need to make the Procrustes method names clickable so they link to the API documentation. Thanks.

[2021-03-07 02:19] FarnazH opened #65 "Improve efficiency of kopt implementation"
Actually, why make a permutation matrix (mostly zeros and ones) and multiply by A (cost of O(n^3)). You can directly compute A with permuted rows/columns, then compute the error in (permuted) A. This has cost O(n^2) (computing the error) instead of O(n^3). **IF** the error is reduced, you can return the permutation, or even the permutation matrix (which can be constructed at the very end).

_Origi

[2021-03-08 18:27] Ali-Tehrani opened #69 "Test error in "SVD Converge" in generic.py"
During testing with github action, the follow test failed "test_generic_rectangular_translate_scale" for test_generic.py" with m = 829, n = 878 on python 3.7.

The error is
`def _raise_linalgerror_svd_nonconvergence(err, flag):
       raise LinAlgError("SVD did not converge")
  E       numpy.linalg.LinAlgError: SVD did not converge`.

For more info on the github action, see https://github.com/Ali-

[2021-03-08 18:35] PaulWAyers commented on #69
It may still have a problem, I guess, because matrices with rows/columns of zeros are evil..... It's a strange error (that we encountered once  before in `GOpt`) because SVD is a matrix factorization and therefore is very robust. But the divide-and-conquer algorithm is not as robust (but it is significantly faster). I guess that using smaller matrices is a good compromise, but perhaps we should at

[2021-03-08 23:18] fwmeng88 commented on #54
I will do it shortly.

[2021-03-09 00:18] FarnazH opened #71 "Add References to Docstrings"
I'm happy with putting references centrally. I don't worry *so* much about keeping them up-to-date, or having long documentation (especially if the references are just at the very end anyway), since most of the references we should be including are just "the classics." But I know that because our documentation is embedded in the code, it can be annoying to have a lot of documentation before the co

[2021-03-09 17:43] FarnazH commented on #69
These tests passed on Ubunto with python 3.8 before. Is GitHub Action using two different hardware for these runs?
We can decrease the matrix size and see whether it happens again.

[2021-03-09 18:05] PaulWAyers commented on #69
The solution here, which may also be useful to @tczorro , is to use LAPACK directly. Construct the factorized SVD (more robust than the divide-and-conquer iterative algorithm), using (I think) scipy.linalg.lapack.gesvd though you may need to prefix the gesvd routine with dgesvd (float) or zgesvd (complex). Once you have the SVD (and this one should always work), you can then use
1. Replace all ele

[2021-03-09 18:14] FarnazH commented on #69
We can use the `lapack_driver` argument of https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.svd.html

[2021-03-09 18:28] Ali-Tehrani commented on #69
The generic function uses Morse Penrose Inverse from numpy and it uses the divide and conquer method from Lapack, whereas SciPy's Morse Penrose inverse uses the general rectangular approach ('gesvd')  [1]. So I think that we just need to change from numpy to scipy.

[1] - https://stackoverflow.com/questions/13265299/the-difference-of-pseudo-inverse-between-scipy-and-numpy

[2021-03-09 18:38] PaulWAyers commented on #69
That's a good trick. @tczorro should look at it too. You have to fall down the rabbit-hole of documentation a bit to find these things sometimes :-( .

[2021-03-09 18:54] FarnazH commented on #69
I think `scipy.linalg.pinv` fixed the problem... The current CI failures are because of not being able to install some dependencies for quality checks.

While we are at this, should we use `scipy.linalg.svd` instead of `numpy.linalg.svd` (so we can set the `lapack_driver='gesvd'`)?

[2021-03-09 21:05] PaulWAyers commented on #69
I would use scipy.linalg.svd with lapack_drive='gesvd' everywhere. Where that is not appropriate (where speed is critical) probably there are better choices than SVD (which is a bit of a brute-force approach inherently).

[2021-03-09 23:09] fwmeng88 commented on #69
Using `scipy.linalg.pinv` instead of `numpy.linalg.pinv` can also fix the problem of failing generic Procrustes. I have tested that this idea can fix the issuse both locally and on GitHub as well. This can lead to a more robust implementation of generic Procrustes testing without setting a random seed.

Thanks for proposing to use `scipy.linalg.pinv`! @FarnazH

[2021-03-10 00:17] #54 closed

[2021-03-10 00:17] #71 closed

[2021-03-10 17:04] FarnazH opened #76 "Generalized Procrustes"
I a bit confused with the generalized Procrustes method. I understand that every matric has a right-hand-side transformation, but does it needs to be an orthogonal transformation (as implemented) because the documentation does not say anything about it.  See: https://github.com/theochem/procrustes/blob/master/procrustes/generalized.py#L87

[2021-03-10 23:02] PaulWAyers commented on #76
So the short answer is that *any* Procrustes method can be generalized; the same algorithm(s) work in all cases. But the convergence is only guaranteed for one-sided methods I think, and maybe even only one-sided orthogonal. Other cases are less prevalent, though by no means verboten.

There was similar work a *long* time ago by Carbo-Dorca, who wanted to find a way to align/pose molecules so that

[2021-03-11 04:37] fwmeng88 commented on #76
Thanks for the notes, making things clear.

@PaulWAyers and me discussed this before and we can generalize this by using all the modules which have been built. This is going to be a very interesting feature. It should be fast for single-sided Procrustes but can be slow for two-sided Procrustes methods, such as two-sided permutation Procrustes.

So, the short question is do we need to generalize it

[2021-03-11 15:50] PaulWAyers commented on #76
It is a good question. I would probably attempt to implement a very generalized method, with
- arbitrary number of matrices; one or more can optionally be labelled as a reference that will not be transformed.
- arbitrary choice of S and T among (orthogonal, rotation, permutation, symmetric, general (unconstrained), identity)
- translation and scaling optional.

Then you could
- translate and scale

[2021-03-13 22:15] FarnazH opened #78 "lapack_driver argument"
**From https://github.com/theochem/procrustes/issues/69 & https://github.com/theochem/procrustes/pull/77:**   Add a function variable "lapack_driver" to orthogonal, permutation, rotational, and symmetric functions with docstring `lapack_driver : {"gesvd", "gesdd"}`, optional used in the singular value decomposition function from SciPy. Only allowed two options, with "gesvd" being less-efficient th

[2021-03-14 03:30] PaulWAyers opened #79 "More efficient evaluation of the error function for k-opt"
In permutation Procrustes, the error is computed by explicit multiplications like (**A** x **P**) or (**P1** x **A** x **P2**). This is extremely inefficient because one is only rearranging rows/columns of A (an O(n^2) operation) but one is using matrix multiplication (which is O(n^3)) to do this. This can be done efficiently by:
1. For each permutation matrix, construct the corresponding permutat

[2021-03-14 04:01] PaulWAyers opened #80 "Optimization over doubly-stochastic matrices"
Analogous to what was done with k-opt, we should add functionality to optimize a user-specified function over the set of doubly-stochastic matrices. (Doubly stochastic matrices are nonnegative matrices that have row-sum and column-sum equal to 1.)

- scipy.opt could be used for the (local) optimization starting from a user-specified starting point. This is a classic problem for the `slsqp` algorit

[2021-03-14 04:25] PaulWAyers commented on #79
This is redundant with https://github.com/theochem/procrustes/issues/65

[2021-03-14 04:26] PaulWAyers commented on #65
This supersedes https://github.com/theochem/procrustes/issues/79 which I closed.

[2021-03-14 04:26] #79 closed

[2021-03-14 04:28] PaulWAyers commented on #76
A new update on the notes (see attached PDF).

I *strongly* feel that this issue should not be implemented for this release; it is not that it is difficult to write code for this issue, but writing well-tested well-documented code is going to take some effort. What is currently there is going to be irrelevant to this more general approach, which will need to be written from scratch.

The documenta

[2021-03-14 04:29] PaulWAyers commented on #50
This is now a sub-case of https://github.com/theochem/procrustes/issues/76 .

[2021-03-14 04:29] #50 closed

[2021-03-25 14:20] PaulWAyers opened #84 "One-Sided Procrustes for Toeplitz matrices"
The Procrustes method can be solved where the transformation is a Toeplitz matrix
    http://dx.doi.org/10.1155/2013/696019
I don't know any applications of this, so I consider it low priority. But it does look straightforward.

[2021-03-30 00:20] PaulWAyers commented on #84
This can also be used for Hankel matrices.

A key question is whether the "closest Toeplitz matrix" or "closest Hankel matrix" to a given matrix is useful? Or are there cases wehre the transformation as a Hankel/Toeplitz matrix.

[2021-03-30 00:50] #47 closed

[2021-03-30 00:56] #30 closed

[2021-03-30 01:06] #42 closed

[2021-03-30 01:07] #25 closed

[2021-03-30 01:10] FarnazH commented on #26
@fwmeng88 what is the status of this issue? I think the last time we talked, we decided to turn the code snippets in the paper into example notebooks (so that it can be easily run by the reviewers) alongside the updated imaeges.

[2021-03-30 01:14] #69 closed

[2021-03-30 01:14] FarnazH commented on #78
@Ali-Tehrani have you had a chance to take care of this yet? Thanks.

[2021-03-30 01:32] FarnazH commented on #26
@fwmeng88 I don't think we need both tutorials and notebooks. We need to harmonize tutorial code snippets & figures with the paper. I would focus on polishing the notebooks, and then display them on the website or add a link to GitHub. Let me know your thoughts.

[2021-03-30 18:24] fwmeng88 commented on #26
This is a good point! I will try to remove the `.py` files in examples and keep only jupyter notebooks. Will push them to GitHub later today.

Thanks! @FarnazH

[2021-03-31 18:35] fwmeng88 commented on #47
it works perfectly now. Thanks!

[2021-04-01 23:44] fwmeng88 commented on #26
Updates: For now, I am planning to only keep the notebooks and remove the `examples` folder. Refactorization of notebooks have been addressed in PR #87, #88, #89, #90. Any suggestion or comment is welcome.

@FarnazH

[2021-04-06 20:27] #78 closed

[2021-04-06 20:28] FarnazH commented on #26
@fwmeng88 I think it's best to add the quick start as a notebook too.

[2021-04-06 21:04] fwmeng88 commented on #26
Good point! I will add one soon.

[2021-04-12 13:38] fwmeng88 opened #98 "positive semi-definite Procrustes problem"
This positive semi-definite  Procrustes problem is trying to

<img src="https://latex.codecogs.com/svg.image?\underbrace{\min}_{\mathbf{P}&space;\succcurlyeq&space;0}&space;\|&space;\mathbf{B}&space;-&space;\mathbf{P}\mathbf{A}&space;\|_{F}^2" title="\underbrace{\min}_{\mathbf{P} \succcurlyeq 0} \| \mathbf{B} - \mathbf{P}\mathbf{A} \|_{F}^2" />

More details can be found at [Woodgate, K. G. (1993,

[2021-04-12 13:59] PaulWAyers commented on #98
This would be really cool to have. It's also nice because it explains (finally!) why the symmetric Procrustes problem is useful!!!

[2021-04-12 21:39] fwmeng88 commented on #98
some more papers related with positive semi-definite Procrustes problem

1. [Kiskiras, J., & Halikias, G. D. (2007). A note on the complex semi‐definite matrix Procrustes problem. Numerical Linear Algebra with Applications, 14(6), 485-502.](https://onlinelibrary.wiley.com/doi/abs/10.1002/nla.535?casa_token=kx9hmy-20ocAAAAA:PWkTjL8xFxXdzTxOR00J1QnuQm6zDYcCrwL_nzEDBqHLR5rv6-hOiWxQZxeFLxH4ixpI381vNmW

[2021-04-13 02:52] fwmeng88 commented on #26
For now, we will need to delete all the files in **examples** folder and update all the *RST* files to make it consistent with all the jupyter notebooks.

[2021-04-14 20:24] fwmeng88 commented on #26
This issue is addressed in #106 as we use `nbsphinx` to host all the notebooks.

[2021-04-22 14:45] #26 closed

[2021-04-25 18:25] JOST777 opened #109 "Can't install from pip"
I am on Python 3.8.0. When I try to install procrustes from pip, I get this error:

[code]

Also, I can't clone the repo, since I get permission denied:

[code]

[2021-04-25 22:07] fwmeng88 commented on #109
Thank you for your interest in our package! Our package has not released to PyPi or Conda yet, which leads to the error you have.

To make it work, you can try the following commands in your terminal within your virtual environment.
[code]

If it still doesn't work, please @ me so that I can get the notification and respond faster.

[2021-04-25 22:22] fwmeng88 opened #110 "Support of missing values for generalized Procrustes analysis"
When performing generalized Procrustes analysis, it is very likely to have missing values in the configuration matrices. _Casper J. Albers_ and _John C. Gower_ proposed a strategy to deal with such a situation, [_Albers, C. J., & Gower, J. C. (2010). A general approach to handling missing values in Procrustes analysis. _Advances in Data Analysis and Classification_, 4(4), 223-237.](https://link.sp

[2021-04-25 22:23] fwmeng88 commented on #76
We may need to add support of missing values for generalized Procrustes analysis at some point, #110.

[2021-04-25 23:46] JOST777 commented on #109
Thanks! I got it working with the method you mentioned.

It seems like a really cool package. I am experimenting with using it to do alignment of sets of face images via facial landmarks. I might ask some questions later in a new topic.

[2021-04-26 00:28] fwmeng88 commented on #109
I am very happy this package is helpful for your research. Thanks.

Please feel free to open another issue if needed. I am going to close this one for now.

[2021-04-26 00:29] #109 closed

[2021-07-23 17:55] choltz95 opened #115 "L-1 procrustes"
Hi, Thanks for the project! I'm interested in solving procrustes using a more robust metric of dispersion than F norm.

I saw a couple papers online that solve e.g. smooth surrogates of l1, but wondering if you have any pointers in particular.

[2021-07-23 21:03] fwmeng88 commented on #115
Thanks for the nice words!

We don't have any implementation to support `l1 norm-based Procrustes` (I am not familiar with that either). But we may add this as a feature in the future depending on other project progress and time avaliability. I found some interesting papers,
1. https://link.springer.com/article/10.1007%2Fs10851-008-0077-2
2. https://www.sciencedirect.com/science/article/pii/S01677

[2021-07-23 21:49] choltz95 commented on #115
Thank you so much for the resources! I really appreciate it.

I guess that second paper is the most general, but doesn't guarantee optimality.

I am happy to make a pull request some time if you think this would be relevant to your project.

Main pieces are in section 3.3 & Eq. 14 of  [this paper (same author as your #2.)](https://link.springer.com/article/10.1023/B:STCO.0000009415.14785.2a)

[2021-07-25 03:49] fwmeng88 commented on #115
Wow! This is going to be a nice improvement!! Thanks.
Please let me know when you need a code review or any other problems. I will tag this issue as an enhancement.

[2021-08-14 11:10] geloescht opened #116 "Installing with pip according to instructions does not work"
This is on Python 3.9. pip install qc-procrustes results in this error:
[code]

[2021-08-14 17:00] fwmeng88 commented on #116
Thank you for your interest in our package.

We haven't released `procrustes` to PyPI yet, but you can install it with
[code]

Please let me know if it does not work. @geloescht

[2021-08-17 00:07] fwmeng88 commented on #116
I am going to close this issue for now. But feel free to reopen if you still have problems with package installation and I would be very happy to help.

[2021-08-17 00:07] #116 closed

[2021-08-18 09:21] geloescht commented on #116
I can confirm that this works. It does install a number of dependencies that seem unnecessary for a production environment (sphinx, pytest), but that might have something to do with installing from a local directory rather than PyPI.
I hope Procrustes will be released soon! The methods in more common libraries such as SciPy are seriously lacking. Keep up the good work!

[2021-08-18 13:34] fwmeng88 commented on #116
Thanks for the nice words!!

[2021-10-06 20:46] PaulWAyers opened #119 "Molecular Structure Distance"
@fwmeng88 should we add a tutorial on how to compute the distance between molecular structures/isomers, along the lines of what is done in the project with @rayhe88 and @nick6618 .

[2021-11-16 15:35] yg42 opened #120 "Non square data in softassign function - cannot reshape array"
Dear all,
I do not know how to get the permutation matrix (like what I would get from the softassign function). I tried the following code, that works in the case of of a square matrix a (d=n), but not for a non square matrix. The error I get is
[code]

[code]

How could I get the permutation matrix directly from the orthogonal function ? Is this a bug ?

thank you very much for your time
best reg

[2021-11-16 20:51] FarnazH commented on #120
The following code will work with the current implementation, but the API of `softassign` is changing to become consistent with other procrustes functions:

[code]

[2021-11-17 08:13] yg42 commented on #120
Thank you very much for this answer. We will test this solution in our problem.

[2021-11-17 16:16] fwmeng88 commented on #120
Thank you for your interest in our package. I will close this issue for now.
Please feel free to reopen it if needed. @yg42

[2021-11-17 16:16] #120 closed

[2021-11-17 19:58] FarnazH commented on #116
Thanks for your interest @geloescht. Just to let you know, we have released a `dev` version of `procrustes` on conda and pypi (see the updated installation instructions). We will release a `main` release in the coming days.

[2022-02-18 19:33] fwmeng88 opened #143 "An alternative way of solving rotational Procrutes problem"
An interesting paper proposed to solve the rotational Procrustes problem without SVD, [J. Geom. Symmetry Phys., 53, 21–53, 2019](https://doi.org/10.7546/jgsp-53-2019-21-53). We can support this in the next major release.

[2022-02-19 00:58] PaulWAyers commented on #143
@fwmeng88 is this different from:
https://github.com/theochem/procrustes/issues/42
and
https://github.com/theochem/procrustes/pull/16

It seems to be attempting something similar, but I didn't read the paper in detail.

[2022-02-19 17:29] fwmeng88 commented on #143
I don't think the method proposed in this paper is related to #42 and #16. They provided an alternative way to solve rotational Procrustes problem 2D and 3D without doing SVD. page 17-28 in https://arxiv.org/pdf/1908.08824.pdf

@PaulWAyers

[2022-02-19 18:59] PaulWAyers commented on #143
Ah, now I understand. The algorithm is interesting, but, as they note at the end, isn't really faster that SVD, so since the solution is the same we shouldn't expect anything different. It would be a sensible alternative algorithm that we could invoke when brute-force SVD is too costly, which would be interesting to have as a fallback in the long run. I think that in favorable cases, it seems, the

[2022-02-19 23:00] fwmeng88 commented on #143
Thanks for the clarification!

[2022-02-21 16:57] fwmeng88 commented on #3
This is fixed and I am going to close it.

[2022-02-21 16:57] #3 closed

[2022-02-22 15:37] fwmeng88 commented on #98
I would propose these algorithms be prioritized.

1. [Woodgate, K. G. (1993, December). A new algorithm for the positive semi-definite Procrustes problem. In Proceedings of 32nd IEEE Conference on Decision and Control (pp. 3596-3601). IEEE.](https://ieeexplore.ieee.org/document/325890)
2. [Jingjing, P., Qingwen, W., Zhenyun, P., & Zhencheng, C. (2019). Solution of symmetric positive semidefinite P

[2022-02-23 13:47] PaulWAyers commented on #98
Probably just implementing one algorithm here may suffice, at least at first. A related problem with an explicit solution is to find the closest semidefinite matrix to a given matrix (one matrix = I) or the closest semidefinite matrix with a given trace to a given matrix. There are analytic solutions here, and they can be used as testing. If it were possible, it would be nice to be able to solve t

[2022-02-23 14:56] fwmeng88 commented on #98
Thank you for the suggestions. I have changed the GSoC documentation accordingly.

For the closest semidefinite matrix problem, do you mean something like https://nhigham.com/2021/01/26/what-is-the-nearest-positive-semidefinite-matrix/?

Also, an analog problem is the nearest correlation matrix problem, https://nhigham.com/2013/02/13/the-nearest-correlation-matrix/. I am not sure how this can be u

[2022-02-23 15:38] PaulWAyers commented on #98
Yep, these references are good leads. The nearest correlation matrix is obviously interesting for machine learning.

The trace-constraint is yet another linear constraint (so similar to the correlation matrix) but has an explicit solution, see the appendix of [https://doi.org/10.1063/1.4994618](https://doi.org/10.1063/1.4994618).

In general, adding any set of linear constraint(s) on the solution

[2022-02-25 23:15] PaulWAyers opened #147 "Web Site"
We should get the `https://procrustes.qcdevs.org/` web site working.

[2022-02-26 03:45] fwmeng88 commented on #147
Just learned some new tricks and it's online now. @PaulWAyers

[2022-02-26 03:45] #147 closed

[2022-02-26 04:02] fwmeng88 commented on #147
I also updated our **qcdev** website for procrustes documentation link.

[2022-04-08 15:02] esoinila opened #166 "Would be nice to have the used scaling and translation returned in the answer"
Now the scaling factor and translation vector are calculated in the utilities but they are not returned in the answer (result = orthogonal(a, b, scale=True, translate=True)). For 3D-graphics calculations, these would be handy to scale and translate any new points found from the distance matrix (I get preliminary coordinates from MDS) back into the real coordinates of b.

[2022-04-09 17:26] fwmeng88 opened #167 "Add support of 1D, 2D and 3D molecular structures"
This is a long-term goal and it's mentioned in https://github.com/theochem/DiverseSelector/issues/55.

Do you mean having 1D (SMILES), 2D or 3D structures as input for Procrustes, and then `Procrustes` would compute the similarities between the molecules?
I am thinking of having such functionality as a tools module. What do you think? @PaulWAyers

[2022-04-09 17:48] fwmeng88 commented on #166
Thank you for your interest in our work!

To get the scaling factor, you can call the function `_scale_array` after importing,
[code]
And the scaling factor can be accessed as the second element of the returned tuple. More details
https://github.com/theochem/procrustes/blob/8454b837fbf0ce1cf695b736b5e145108849ef32/procrustes/utils.py#L158-184.

For translation matrix, it's almost the same.
[code]

[2022-04-09 21:51] PaulWAyers commented on #167
I think having a tool for 3D structure comparison is sensible. When the number/type of atoms are not the same, however, it is more complicated (but could be done from graph similarity (2D) or fingerprint similarity (1D)). But I think as a `Procrustes` tool, only 3D similarity and (maybe) 2D (adjacency matrix) similarity make sense.

It may be that some of the tools are better added as utilities fo

[2022-04-10 08:17] esoinila commented on #166
Thanks for the quick reply. I will test those methods on Monday.

My use case is the case where I want to add new datapoints into 3D word without changing the original 3D world coordinates. Suppose in-door navigation with something like bluetooth signal strength giving approximate distances to devices as distance matrix. For some beacons we know their positions beforehand (we have placed them into

[2022-04-10 15:25] PaulWAyers commented on #166
@fwmeng88 and @FarnazH: we should think about whether we want to return the scale/translate or support it only as @fwmeng88 mentions. It is a substantial revision (albeit an easy one) to adjust all the returns.

I don't have a strong feeling for pros vs. cons. If we were doing it all over again, I guess that returning the translation/scaling automatically might have been sensible. The con I see is

[2022-04-11 13:43] fwmeng88 commented on #166
No problem at all.

Yes, these are private functions, but it's great that it's useful for you. Please let me know if you have further questions. @esoinila

[2022-04-11 13:50] fwmeng88 commented on #166
I thought about this again and maybe we don't need to have a return of scaling factor or translation matrix as in most cases, this makes too many returns. I would favor clear documentation, somewhere like https://procrustes.qcdevs.org/notebooks/Quick_Start.html? @PaulWAyers @FarnazH

[2022-05-30 17:09] FarnazH commented on #167
We have examples among the existing notebooks for comparing 3D (using Cartesian coordinates loaded by IOData) and 2D structures (based on user-specified adjacency matrices; this can also be provided from RDKit, and we can update the example to show that) using `procrustes` functionality; see https://github.com/theochem/procrustes/tree/master/doc/notebooks. @PaulWAyers and @fwmeng88, can you please

[2022-05-30 17:28] PaulWAyers commented on #167
I'm thinking about a utility function; it may be that it belongs in `IOData` or somewhere else. But we need to be able to compare molecules (in bulk, not via a notebook). In this case, I'm not sure that there is need for `IOData` or `RDKit`; one reads in a list of atomic numbers and their positions and processes directly. Probably we should discuss this now.

For 1D or 2D I don't see the need, rig

[2022-07-20 15:51] FanwangM opened #172 "translation, scling, weighting for positive semi-definite Procrustes problem"
The  psdp_woodgate (https://github.com/theochem/procrustes/pull/170) has set up a good starting point for implementing PSDP algorithms. Thanks! @banrovegrie

We are missing a few initial setting up such as scaling, translation, etc. You can add this code blocks like
[code]
And you will need to change the finial output accordingly, such as `new_a=new_a` and `new_b=new_b`. Sample codes can be found

[2022-07-20 16:09] banrovegrie commented on #172
Yep, you can assign this to me. I will update it when I push my code for testing psdp modules. @FanwangM

[2022-08-19 15:33] PaulWAyers commented on #115
@choltz95 were you going to tackle this issue?

[2022-08-21 02:30] FanwangM opened #174 "Deprecated `pinv2` function in `scipy.linalg`"
The `pinv2` in `Scipy` has been deprecated since 1.7.0, and it has been removed for 1.9.0 and above, https://github.com/scipy/scipy/pull/16245. Originally, the (Moore-Penrose) pseudo-inverse is computed by SVD including all 'large' singular values (using `scipy.linalg.pinv2`) and `scipy.linalg.pinv` obtains the (Moore-Penrose) pseudo-inverse by using least-squares solver. The least-squares impleme

[2022-08-22 11:41] PaulWAyers commented on #174
I think there is no choice here. It bothers me that under-the-hood the SVD is the iterative SVD that can fail due to "lack of convergence" and this is a problem we've observed happens sometimes, as opposed to the rigorous *factorization* of a matrix which is always fine. But with current versions, scipy.pinv, scipy.pinv2, and numpy.pinv are all the same. No need to distinguish.

See the discussion

[2022-08-22 18:27] #174 closed

[2022-08-22 19:22] PaulWAyers commented on #174
We need to remember this: if we end up with "SVD did not converge" errors we will need to add in a brute strength implementation using the `dgesvd` SVD driver ([accessible in `scipy`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.svd.html)).

[2022-08-24 19:45] choltz95 commented on #115
Hi yes - sorry for the delayed response. Still potentially interested. I ended up doing iteratively reweighted least squares to solve the l1 problem for my application since I did not really need a high quality solution.

Let me take another look at the papers originally posted in this thread and get back to you.

[2022-08-27 20:10] choltz95 commented on #115
Hey - just started working on a prototype. I implemented a preliminary version of PGD for the smoothened l1 problem (huber) from the Trendafilov & Watson paper in Jax [here](https://colab.research.google.com/drive/1enh3AzhL2-G3LJczZdyMgX2enQr40b6p?usp=sharing).

I saw that the convergence is mediocre and needs many iterations on even some very simple testcases. I tried some simple things like grid

[2022-08-28 22:29] FanwangM commented on #115
Thank you for your efforts!
I have tried your Colab codes, but it seems that the implementation is giving the strange behavior with missing value in foc and all the error values are `nan`.  Can you check why is that?

![Screenshot from 2022-08-28 18-24-55](https://user-images.githubusercontent.com/22950235/187097024-e47478b5-c79a-488d-97ee-75d64a6266f8.png)

I think for the implementation, maybe a

[2022-08-30 18:20] choltz95 commented on #115
Sounds good. Yeah- those plots don't look right to me. Here is the expected result from my run:

![image](https://user-images.githubusercontent.com/5779125/187513303-0f67d816-f524-44b9-b7d8-273006504e80.png)

Likely there is some issue with the implementation since the foc should probably go to zero. I'll get back to you when I have some time to debug.

[2022-09-02 01:31] #166 closed

[2022-09-02 18:39] FanwangM commented on #172
This has been fixed in #173.

[2022-09-02 18:39] #172 closed

[2022-09-02 21:40] FanwangM opened #188 "Update the summary table when #98 is done"
This is a reminder to myself about updating the documentation.

[2022-09-03 22:47] FanwangM opened #190 "Failing testing, `test_psdp_woodgate_non_full_rank`"
Can you check why the testing is failing for https://github.com/theochem/procrustes/runs/8172507556?check_suite_focus=true? I have tried to rerun the testing and it didn't help. I don't know if it's `Scipy` or `Numpy` version related or operating system related. The tests work before we merge the PR.

Thank you. @banrovegrie

[2022-09-05 12:22] banrovegrie commented on #190
Yeah I will fix this

[2022-09-05 13:11] banrovegrie commented on #190
It's weird how the issue doesn't exist at all for python3.8+ as well as python3.6-.

[2022-09-05 15:50] PaulWAyers commented on #166
Just to be clear, this is in the `quickstart.ipynb` Jupyter notebook.

@FanwangM I made a few tweaks to verbiage, which are hopefully OK.

[2022-09-05 16:49] FanwangM commented on #166
Thank you. I will take a look soon. @PaulWAyers

[2022-09-05 16:50] FanwangM commented on #190
True. I think it's Windows OS related only as I have tested for many times.

[2022-09-05 23:50] FanwangM commented on #190
Just figured that the failing test was running on Windows 32 machine, which is a big surprise to me.

[2022-09-06 01:33] FanwangM commented on #190
I have tested it again on a windows machine with the same working environment (Python 3.7.9 and the same numpy and scipy version) and it works. Also, the current running of tests, https://github.com/theochem/procrustes/runs/8197877947?check_suite_focus=true, works. So, I would guess that's related to the hardware?

What do you think?
@PaulWAyers @banrovegrie

[2022-09-06 01:35] FanwangM opened #194 "More algorithms on `PSDP`"
The original "algorithm 3" has been peer reviewed (I think; it is published in a conference proceedings and that is never a sure thing).
     http://www.scielo.org.co/pdf/rcm/v55n1/0034-7426-rcm-55-01-109.pdf

However, I really like Fanwang's suggestion. The Oviedo paper (algorithm 3) performs similarly to what they call `PARATAN` and what the above reference calls `PARTAN`. The above reference se

[2022-09-06 01:37] FanwangM commented on #194
For those who are interested, people can work with the following algorithms listed in [Gillis, N., & Sharma, P. (2018). A semi-analytical approach for the positive semidefinite procrustes problem. Linear Algebra and its Applications, 540, 112-137.](https://doi.org/10.1016/j.laa.2017.11.023)

- [ ] projected gradient method
- [ ] fast gradient method
- [ ] parallel tangents method
- [ ] semi-analyt

[2022-09-06 01:46] PaulWAyers commented on #190
Seems strange, but not implausible, to me. I guess we can specify the hardware in the install?

[2022-09-06 09:03] banrovegrie commented on #190
Maybe, but will that lead to a precision issue as big as 3 decimal places?

[2022-09-06 11:28] banrovegrie commented on #194
More info about MATLAB implementation of the spectral gradient method is present in  #189.

[2022-09-06 11:32] banrovegrie commented on #194
Since, OptPSDP (from Oviedo's paper) seems to be performing better on average, I guess we will include that to our PSDP module as the third algorithm for now?

@FanwangM @PaulWAyers

[2022-09-06 11:43] abhishekmittal15 commented on #194
Hi, I am Abhishek Mittal. @banrovegrie introduced me to
this repository and I found the work really interesting. I would like to contribute by starting off with this issue.

[2022-09-06 13:15] PaulWAyers commented on #194
@abhishekmittal15 thanks for your help. I'll add you to the organization.

[2022-09-06 13:18] PaulWAyers commented on #194
@banrovegrie it is OK to use the Oviedo algorithm, but the performance does not seem much better than the PARATAN. In any event, I think the algorithm is quite similar to the algorithms from this issue, so there should be a single implementation that has all of these optimization-based strategies I think.

[2022-09-06 13:26] banrovegrie commented on #194
Yep, we are almost done with implementing OptPSDP (so we can benchmark it). I will push the code in a few minutes. I think tests might fail and we can debug them iteratively.

[2022-09-23 13:54] FanwangM opened #196 "Another round of code review for GSoC"
To be completed.

[2022-10-04 17:15] banrovegrie commented on #194
@PaulWAyers @FanwangM What should be the next algorithm we should plan on implementing?

[2022-10-04 17:17] banrovegrie commented on #190
Let's have a meet and fix the currently present testing issues. Will anytime on the 10th of October (or later) work?

[2022-10-05 03:33] FanwangM commented on #190
What's the time difference between us now (your current location and Toronto)?

[2022-10-05 14:50] PaulWAyers commented on #194
I'm not sure what @FanwangM thinks, but I think that if you want to implement more algorithms in Procrustes, I wouldn't focus on PDSP but instead something else. One possibility would be to extend the permutation Procrustes algorithms available: it's becoming clear that that is one of the most useful (and tricky) cases.

[2022-10-07 02:26] FanwangM commented on #194
I agree. Let's shift our focus to permutation Procrustes which are more interesting and practically useful. But I don't have any paper or algorithm in mind yet. I have tried to do some literature research on two-sided permutation Procrustes problem last weekend and didn't find any interesting y et.

[2022-10-07 12:06] PaulWAyers commented on #194
I think I have an interesting algorithm. Let me look through my notes.

[2022-10-07 12:06] PaulWAyers commented on #194
@FanwangM when the last pull requests on this issue are merged, please close it.

[2022-10-07 17:54] FanwangM commented on #194
Sure. I will do it.

[2022-10-13 14:11] banrovegrie commented on #190
I got back to college yesterday. So now the time gap is around 9 hours. But I will mostly be available till late at night (India time) which should be around 3:30 PM Toronto time.

[2022-10-18 17:38] choltz95 commented on #115
Hi, sorry for the late response. Quick follow-up. Took another look at my implementation. I think it may be possible that the implementation is okay - I reproduced the concrete numerical experiments in Example 2 of the paper to get similar error. I think the issue may simply be that the projected gradient method may not be ideal for this kind of problem.

I am thinking this: since there is already

[2022-10-19 02:07] FanwangM commented on #115
Looks like a good feature to have. Please go ahead and make a pull request. Can you tag me when you are done? Thank you for making our package grow! @choltz95

[2022-10-20 00:01] banrovegrie commented on #190
@FanwangM any updates?

[2022-11-05 13:55] dannyrichy opened #197 "pinv2 deprecated"
Hello,
Since scipy 1.9.0 , the function pinv2 has been subsumed in pinv, is it possible to remove it's use in generic.py

P.S
Attaching link to the release notes [https://docs.scipy.org/doc/scipy/release.1.9.0.html?highlight=pinv2](https://docs.scipy.org/doc/scipy/release.1.9.0.html?highlight=pinv2)

[2022-11-05 15:32] FanwangM commented on #197
Hi! Thank you for your interest in our package. @the-nihilist-ninja
If you install the latest version of our package from the source, `pinv2` has been replaced by `pinv`.

I am going to close this issue for now. But please feel free to reopen this issue or create a new one if needed.

[2022-11-07 04:26] FanwangM commented on #194
@abhishekmittal15 is contributing a new implementation for PSDP. Do you think we should shift our focus to permutation-related Procrustes problem? If so, do you have something in your mind? Thanks. @PaulWAyers

I will close this issue once #198 is merged.

[2022-11-07 10:18] PaulWAyers commented on #194
I do think we should shift our focus to permutation methods. Let me write some notes.

The other main outstanding issue is a bit of a larger refactoring so that we can treat multiple/mixed Procrustes problems more efficiently. But that probably should wait for other key methods to be implemented.

[2022-11-07 11:20] PaulWAyers commented on #194
I would look at #80 and #65 as key permutation-Procrustes-related issues.

[2022-11-07 17:28] PaulWAyers commented on #84
This issue is "easy" (it seems) but I don't see an application, so I've marked it low priority.